In [3]:
import os
import json
import pandas as pd

In [5]:
data_folder = "../../data/"  # Relative path to your data folder

In [7]:
# Get a list of all JSON files in the data folder
json_files = [f for f in os.listdir(data_folder) if f.endswith(".json")]
json_files

['mlb-captions-data-000000000000.json',
 'mlb-captions-data-000000000001.json',
 'mlb-captions-data-000000000002.json',
 'mlb-captions-data-000000000003.json',
 'mlb-captions-data-000000000004.json',
 'mlb-captions-data-000000000005.json',
 'mlb-captions-data-000000000006.json',
 'mlb-captions-data-000000000007.json',
 'mlb-captions-data-000000000008.json',
 'mlb-captions-data-000000000010.json',
 'mlb-captions-data-000000000012.json']

In [10]:
# Initialize a list to hold all captions data
captions_data = []

In [11]:
for file in json_files:
    with open(os.path.join(data_folder, file), 'r') as f:
        # Read line by line since it's JSON Lines format
        for line in f:
            captions_data.append(json.loads(line))

In [12]:
df = pd.DataFrame(captions_data)

In [13]:
df

,caption_start,caption_end,caption_text,write_date,game_pk,feed_type
0,02:13:28,02:13:42.610000,"And part of my thinking here, Steven Vogt leav...",2024-09-20T07:32:20.420407+00:00,746579,A
1,04:04:23.465000,04:04:23.630000,So.,2024-09-20T07:32:20.420407+00:00,746579,A
2,03:16:07.572000,03:16:07.750000,100.,2024-09-20T07:32:20.420407+00:00,746579,A
3,01:08:21.947000,01:08:22.090000,Now.,2024-09-20T07:32:20.420407+00:00,746579,A
4,00:58:04.797000,00:58:04.960000,One.,2024-09-20T07:32:20.420407+00:00,746579,A
...,...,...,...,...,...,...
540130,00:02:36.756000,00:03:04.650000,39 39ines and countin countinma countinman ys ...,2024-09-29T07:38:36.718884+00:00,746819,H
540131,00:16:10.970000,00:16:22.640000,">> Only Kyle Zimmerman, that was a big he's al...",2024-09-29T07:38:36.718884+00:00,746819,H
540132,01:57:36.816000,01:57:56.080000,And then 'll go Cubs winning the game moneylin...,2024-09-29T07:38:36.718884+00:00,746819,H
540133,00:00:00.483000,00:00:02.550000,San Francisco case Study Program.,2024-09-29T07:40:12.555596+00:00,745281,H
540134,00:00:02.552000,00:00:09.220000,The program was established to address the dis...,2024-09-29T07:40:12.555596+00:00,745281,H

In [15]:
df.isnull().sum()

caption_start    0
caption_end      0
caption_text     0
write_date       0
game_pk          0
feed_type        0
dtype: int64

In [16]:
df['caption_start'] = pd.to_timedelta(df['caption_start'])

In [17]:
df

,caption_start,caption_end,caption_text,write_date,game_pk,feed_type
0,0 days 02:13:28,02:13:42.610000,"And part of my thinking here, Steven Vogt leav...",2024-09-20T07:32:20.420407+00:00,746579,A
1,0 days 04:04:23.465000,04:04:23.630000,So.,2024-09-20T07:32:20.420407+00:00,746579,A
2,0 days 03:16:07.572000,03:16:07.750000,100.,2024-09-20T07:32:20.420407+00:00,746579,A
3,0 days 01:08:21.947000,01:08:22.090000,Now.,2024-09-20T07:32:20.420407+00:00,746579,A
4,0 days 00:58:04.797000,00:58:04.960000,One.,2024-09-20T07:32:20.420407+00:00,746579,A
...,...,...,...,...,...,...
540130,0 days 00:02:36.756000,00:03:04.650000,39 39ines and countin countinma countinman ys ...,2024-09-29T07:38:36.718884+00:00,746819,H
540131,0 days 00:16:10.970000,00:16:22.640000,">> Only Kyle Zimmerman, that was a big he's al...",2024-09-29T07:38:36.718884+00:00,746819,H
540132,0 days 01:57:36.816000,01:57:56.080000,And then 'll go Cubs winning the game moneylin...,2024-09-29T07:38:36.718884+00:00,746819,H
540133,0 days 00:00:00.483000,00:00:02.550000,San Francisco case Study Program.,2024-09-29T07:40:12.555596+00:00,745281,H
540134,0 days 00:00:02.552000,00:00:09.220000,The program was established to address the dis...,2024-09-29T07:40:12.555596+00:00,745281,H

In [18]:
df['caption_end'] = pd.to_timedelta(df['caption_end'])
df['duration'] = df['caption_end'] - df['caption_start']

In [20]:
#Text Cleaning using regex
import re

def clean_text(text):
    text = text.lower()  # Lowercase
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    return text